h2 {
    color: #000;
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.cnt {
    text-align: center;
}

.form-box {
    max-width: 300px;
    background: #f1f7fe;
    overflow: hidden;
    border-radius: 16px;
    color: #010101;
}

.form {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 32px 24px 24px;
    gap: 16px;
    text-align: center;
}


/*Form text*/

.title {
    font-weight: bold;
    font-size: 1.6rem;
}

.subtitle {
    font-size: 1rem;
    color: #666;
}


/*Inputs box*/

.form-container {
    overflow: hidden;
    border-radius: 8px;
    background-color: #fff;
    margin: 1rem 0 0.5rem;
    width: 100%;
}

.input {
    background: none;
    border: 0;
    outline: 0;
    height: 40px;
    width: 100%;
    border-bottom: 1px solid #eee;
    font-size: 0.9rem;
    padding: 8px 15px;
}

.form-section {
    padding: 16px;
    font-size: 0.85rem;
    background-color: #e0ecfb;
    box-shadow: rgb(0 0 0 / 8%) 0 -1px;
}

.form-section a {
    font-weight: bold;
    color: #0066ff;
    transition: color 0.3s ease;
}

.form-section a:hover {
    color: #005ce6;
    text-decoration: underline;
}


/*Button*/

.form button {
    background-color: #0066ff;
    color: #fff;
    border: 0;
    border-radius: 24px;
    padding: 10px 16px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.form button:hover {
    background-color: #005ce6;
}


/*Dale estilo a la tabla*/

.table-box {
    margin: 20px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.table th,
.table td {
    padding: 12px 15px;
    border-bottom: 1px solid #ddd;
    text-align: left;
}

.table th {
    background-color: #f1f7fe;
    color: black;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1px;
}

.table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.table tr:hover {
    background-color: #f1f1f1;
}

.table td button {
    padding: 8px 12px;
    margin: 0 5px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    color: white;
}

.table td button:first-of-type {
    background-color: #4caf50;
}

.table td button:last-of-type {
    background-color: #f44336;
}

.table td button:hover {
    opacity: 0.8;
}


/*Haz responsive los elementos*/


/*
@media screen and (max-width: 768px) {
    h2 {
        font-size: 18px;
    }
    .form-box {
        max-width: 100%;
    }
    .form {
        padding: 24px;
    }
    .form-container {
        margin: 0.5rem 0;
    }
    .input {
        height: 36px;
        font-size: 0.8rem;
        padding: 6px 12px;
    }
    table {
        margin-top: 10px;
    }
    th,
    td {
        padding: 10px;
    }
}*/